#Hide title bar for stacked/tabbed containers
font pango:DejaVu Sans Mono 0
client.focused          #abb2bf #abb2bf #abb2bf #abb2bf #abb2bf 
client.focused_inactive #3e4451 #3e4451 #282c34 #9868a3 #3e4451
client.unfocused        #3e4451 #3e4451 #282c34 #9868a3 #3e4451
client.urgent           #e06c75 #e06c75 #d19a66 #e06c75 #e06c75
exec_always --no-startup-id feh --bg-scale ~/.config/i3/nord-background/73.png
